.navbar_container{
    position:sticky;
    top:0;
   
    display: flex ;
    align-items : center;
    width:90%;
    
    
  
}
.user_name{
    color: whitesmoke;
    font-weight: 700;
    position: absolute;
    margin-top: 2px;
   margin-left: 1000px;

}
.navbar_color{
    
    height: 40px;
    background-color: #87CEEB;
    padding: 0.2% 5%;
    border-bottom: 1px lightblue ;
}
.navbar_dark{
    background-color:#B0C4DE;
    height:50px;
}
.navbar_logo{

    width: 60px;
    position: fixed;
    left: 10px;
    top: 1px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}
.navbar_button{
    background-color: gray;
    color: white;
    padding: 8px 8px;
    font-weight: 500;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    position: fixed;
    margin-top: 40px;
    right: 30px;
  
    
    
    
}
.navbar_button:hover{
    transform:scale(1.2);
}
.navbar_icon{
 
   position: fixed;
    margin-top: 7px;
    margin-left: 1250px;
    color: black;
    cursor: pointer;
}

.searchbox{
    position:relative;
    margin-left: 780px;;
    align-items:center;
    justify-content:center;
    height:18px;
   border: none;
}

.searchbox_icon{
    color: black;
    margin-left:10px;
    top: 3px;
   position: relative;
    cursor:pointer;
}